@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;400;600;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  justify-content: center;
  padding: 0 3rem 0 3rem;
}

.App-header, section, footer {
  border-radius: 0.4rem;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  height: 10%;
  margin: 0.5rem;
  padding: 0.5rem;
}

.App-header {
  background-color: #0563AB;
  color: #ffffff;
}

.App-header img {
  width: 3rem;
}

.App-nav-links {
  display: flex;
  gap: 0.5rem;
  justify-content: flex-end;
  list-style: none;
  padding: 0.5rem;
}

.App-nav-links li:hover {
  color: #000000;
  cursor: pointer;
}

.App-hero {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR7c12S1bjSUEimoXDori8F4PWbbz-LCZ-7qQ&usqp=CAU');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  min-height: 15rem;
}

.App-redirect-button {
  border: 1px solid #ffffff;
  border-radius: 0.4rem;
  padding: 1rem;
}

.App-redirect-button:hover, .App-send-button:hover {
  background-color: #ffffff;
  color: #0563AB;
  cursor: pointer;
  opacity: 0.6;
}

.App-images-container {
  display: flex;
  gap: 0.5rem;
  justify-content: space-evenly;
}

.App-main-image {
  width: 20rem;
}

.App-article {
  font-size: 0.8rem;
  text-align: justify;
  padding: 1rem;
}

.App-product-image {
  border-radius: 10rem;
  cursor: pointer;
  max-width: 15%;
  padding: 1rem;
}

.App-contact-us {
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfYf_HvPfjmM97wcK2ftva0V7IeIPE63AVvg&usqp=CAU');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 20rem;
  padding: 1rem;
}

.App-input-label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  min-width: 20rem;
  padding: 0.3rem;
}

input, textarea {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.App-send-button {
  background: none;
  border: 1px solid #ffffff;
  border-radius: 0.4rem;
  color: #ffffff;
  padding: 0.5rem;
}
